{% extends 'base_template.html' %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<form id="survey-form" action="" method="post">
  {% csrf_token %}
  {{ form.errors }}
  {{ form|crispy }}

  {{ question_formset.management_form|crispy }}
  {% for question_form in question_formset %}
    <div class="question-formset-form">
      <h3 class="question-header">Question {{ forloop.counter }}</h3>
      {{ question_form.errors }}
      {{ question_form|crispy }}
    </div>
  {% endfor %}

  <br />
  <br />
  <button type="button" class="btn btn-secondary" id="add-question">Add Question</button>
  <br/>
  <br/>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="{{ verb }}">
  </div>
</form>

<div id="form-template" style="display: none;">
    <!-- Will be filled with an empty form to use as a template when adding additional Question forms -->
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'textin/js/survey_form.js' %}"></script>
{% endblock %}
