body {
  margin-left: 10%;
  margin-right: 10%;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

#new-survey {
  float: right;
}

#new-survey svg {
  width: 25px;
  height: auto;
}
